* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(217, 241, 253);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fbf2c4;
    background-color: #008585;
    padding: 10px;
    width: 100%;
    left: 0;
    right: 0;
}

header h1 {
    font-size: 2rem;
    background-color: #008585;
}

header h1 a {
    background-image: linear-gradient(to top, #fbf2c4 0%, #a56a58 100%);
    background-color: #008585;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    display: flex;
    background-color: #008585;
}

nav ul li {
    margin-right: 20px;
    background-color: #008585;
}

nav ul li a {
    color: #fbf2c4;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    background-color: #008585;
}

nav ul li a:hover {
    background-color: #c7522a;
    color: white;
    opacity: 80%;
    background-color: #008585;
}

#about {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#about h2 {
    background-color: #fff;
}

#about p {
    background-color: #fff;
}

.accent-photo {
    width: 80%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #008585;
    color: #fbf2c4;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

footer p {
    background-color: #008585;  
}